.hangman {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
}

img {
    width: 40%;
}